@mixin clearfix {
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}

// MEDIA QUERY MANAGER
/*
000 - 600px   Phone
600 - 900px   Tablets Portrait mode
900 - 1200px  Tablets Landscape mode
1200 - 1800px Desktops
1800 - ~~     Large screens

$breakpoint argument choices
- phone
- tab-port
- tab-land
- big-desktop
*/

// Order: Base + Typography > General Layout + Grid > Page Layout > Components

@mixin respond($breakpoint) {
  @if $breakpoint == phone {
    @media (max-width: 37.5em) {
      @content;
    }
  }

  @if $breakpoint == tab-port {
    @media (max-width: 56.25em) {
      @content;
    }
  }

  @if $breakpoint == tab-land {
    @media (max-width: 75em) {
      @content;
    }
  }

  @if $breakpoint == big-desktop {
    @media (min-width: 112.5em) {
      @content;
    }
  }
} ;
